@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 16px;
  background-color: #282828;
  padding: 20px;
}

.anton-reg {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero-content img {
  /* Use 'forwards' so it stays at the end position */
  animation: slideLeft 1s linear forwards; 
  display: block; /* Ensures the image behaves predictably */
}

@keyframes slideLeft {
  0% {
    /* Start 100px to the right of its original spot */
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    /* Move to its final natural position */
    transform: translateX(0);
    opacity: 1;
  }
}
